<header>
   <div class="header-wrapper wrapper">
      <div class="header-row row">
         <div class="header-left">
            <picture class="header-left-picture">
               <source class="header-left-img" srcset="/img/original.webp">
               <img class="header-left-img" src="/img/original.png" alt="Фото">
            </picture>
         </div>
         <div class="header-center">
            <h1 class="header-title">Акция</h1>
            <h2 class="header-center-description">Профессиональная гигиена зубов + отбеливание системой Opalescence всего за <strong>9900 руб.</strong></h2>
            <small class="header-center-date">Срок действия акции с <strong>01.12.2013</strong> г.<span></span> до <strong>01.01.2014</strong> г.</small>
            <p class="header-center-arrow">Сделайте свою улыбку неотразимой и привлекательной</p>
         </div>
         <div class="header-right">
            <form class="header-right-form" action="#" method="POST" enctype="multipart/form-data">
               <fieldset class="header-right-form-fieldset">
                  <legend class="header-right-form-title">Участвовать в акции</legend>
                  <a class="header-right-form-description" href="tel: 78121234567">Для того чтобы принять участие в акции позвоните нам: (812) 123-45-67 или оставьте ваш телефон</a>
                  <fieldset class="header-right-form-input-wrapper">
                     <input class="header-right-form-input" id="name" placeholder="Имя Фамилия" type="text" required autocomplete="on" data-validate-field="name">
                     <label class="header-right-form-label" for="name">Имя Фамилия</label>
                  </fieldset>
                  <fieldset class="header-right-form-input-wrapper">
                     <input class="header-right-form-input" id="phone" placeholder="Контактный телефон" type="text" required autocomplete="on" data-validate-field="phone" data-validate-rules="phone">
                     <label class="header-right-form-label" for="phone">Контактный телефон</label>
                  </fieldset>
                  <button class="header-right-form-send ui-btn ui-btn--red" type="submit">Отправить заявку</button>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</header>